
/* Header Start */
header,
nav {
    position: relative;
    z-index: 99999;
}

header,
.nav-link {
    font-family: var(--bak);
    font-weight: 400;
    color: #FFF;
}

.navbar {
    padding-top: 40px;
    padding-bottom: 34px;
}

.navbar-brand {
    color: #FFF;
    font-size: 40px;
}


.nav-link {
    padding: 0;
}

.navbar-nav {
    gap: 24px;
}

.nav-link:hover {
    color: #FDF516;
}

.nav-link:active {
    color: #FDF516;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler span i {
    color: #FFF;
}



:focus-visible {
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.searchNav {
    position: relative;
    z-index: 999999;
    width: 771px;
    height: 45px;
    background-image: url("../../assets/Search.png");
    background-repeat: no-repeat;
    background-position: center left 2%;
    background-size: initial;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.20);
}

.searchNav input {
    position: relative;
    z-index: 999999;
    background: transparent;
    padding: 13px 13px 13px 50px;
    border: none;
    font-family: var(--lato);
    font-size: 15px;
    font-weight: 400;
    color: #FFF;
}

.searchNav input::placeholder {
    position: relative;
    z-index: 999999;
    color: #5A5A5A;
    font-family: var(--lato);
    font-size: 15px;
    font-weight: 400;
}

.profileImg,
.profileImg img {
    position: relative;
    z-index: 999999;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.navBg {
    padding: 12px 22px;
    border-radius: 10px;
    background-color: #000;
}

.accountParent {
    position: relative;
}

.accountParent .accountChild {
    transition: 0.3s ease-in-out;
}

.accountChild {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(25px);
    position: absolute;
    top: 55px;
    left: -40%;
    width: max-content;
    visibility: hidden;
    z-index: 9;
}

.navBorder {
    border-bottom: 1px solid #292D31;
    margin: 22px 20px 10px 20px;
}

.childInner {
    padding: 10px 30px;
}

.childInner a {
    color: #fff;
    transition: 0.4s ease-in-out;
}

.childInner a:hover {
    color: #FDF516;
}

.accountParent:hover .accountChild {
    visibility: visible;
}

.logoutBtn {
    display: block;
    background: none;
    margin-bottom: 10px;
    color: #939393;
    font-size: 12px;
    transition: 0.4s ease-in-out;
}

.logoutBtn:hover {
    color: #F4F4F4;
}

.bgShadowTop::before {
    position: absolute;
    content: "";
    left: 11%;
    top: 11%;
    z-index: -9999;
    background: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 348px 218px #25242c;
    -moz-box-shadow: 0 0 348px 218px #25242c;
    box-shadow: 0 0 348px 218px #25242c;
    /* box-shadow: 0 0 348px 218px #2200ff; */
}

.bgShadowTop::after {
    position: absolute;
    content: "";
    right: 11%;
    top: 11%;
    z-index: -9999;
    background: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 348px 218px #545454;
    -moz-box-shadow: 0 0 348px 218px #545454;
    box-shadow: 0 0 348px 218px #545454;
    /* box-shadow: 0 0 348px 218px #ff0000; */
}

.bgShadowBottom {
    position: relative;
    z-index: 5;
}

.bgShadowBottom::before {
    position: absolute;
    content: "";
    left: 11%;
    top: 11%;
    z-index: -5;
    background: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 348px 218px #2b2b2b;
    -moz-box-shadow: 0 0 348px 218px #2b2b2b;
    box-shadow: 0 0 348px 218px #2b2b2b;
    /* box-shadow: 0 0 348px 218px #ffffff; */
}

.bgShadowBottom::after {
    position: absolute;
    content: "";
    right: 11%;
    top: 11%;
    z-index: -5;
    background: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 348px 218px #000;
    -moz-box-shadow: 0 0 348px 218px #000;
    box-shadow: 0 0 348px 218px #000;
    /* box-shadow: 0 0 348px 218px #ffffff; */
}

.authShadowBottom {
    position: relative;
    z-index: 5;
}

.authShadowBottom::before {
    position: absolute;
    content: "";
    left: 30%;
    bottom: 6%;
    z-index: -5;
    background: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 348px 218px #2b2b2b;
    -moz-box-shadow: 0 0 348px 218px #2b2b2b;
    box-shadow: 0 0 348px 218px #2b2b2b;
    /* box-shadow: 0 0 348px 218px #ffffff; */
}

.authShadowBottom::after {
    position: absolute;
    content: "";
    right: 30%;
    bottom: 6%;
    z-index: -5;
    background: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 348px 218px #2b2b2b;
    -moz-box-shadow: 0 0 348px 218px #2b2b2b;
    box-shadow: 0 0 348px 218px #2b2b2b;
    /* box-shadow: 0 0 348px 218px #ffffff; */
}

.searchShadowBottom {
    position: relative;
    z-index: 5;
}

.searchShadowBottom::before {
    position: absolute;
    content: "";
    left: 10%;
    bottom: 1%;
    z-index: -5;
    background: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 348px 218px #2b2b2b;
    -moz-box-shadow: 0 0 348px 218px #2b2b2b;
    box-shadow: 0 0 348px 218px #2b2b2b;
    /* box-shadow: 0 0 348px 218px #ffffff; */
}

.searchShadowBottom::after {
    position: absolute;
    content: "";
    right: 10%;
    bottom: 1%;
    z-index: -5;
    background: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 348px 218px #2b2b2b;
    -moz-box-shadow: 0 0 348px 218px #2b2b2b;
    box-shadow: 0 0 348px 218px #2b2b2b;
    /* box-shadow: 0 0 348px 218px #ffffff; */
}

/* Header End */




/* own css */
.border_right{
    border-right: 1px solid #292D31;
}